    <header class="desktop_nav">
        <ul class="navlist">
            <div class="navlogo">
                <a href="/">
                <img src="/assets/graphics/hero/pwnsift-logo.svg" alt="Pwn Sift logo">
                </a>
            </div>
            <div class="flex">
                <li><a href="/blog">Blog</a></li>
            </div>
        </ul>
    </header>
    <nav class="nav">
        <div class="nav-area">
            <a class="brand" href="/">
                <img src="/assets/graphics/logos/nethydra-text-logo-white.svg" alt="NetHydra text logo">
            </a>

            <svg class="nav-burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>

            <div class="nav-menu">
                <a href="/blog">Blog</a>
        </div>
    </nav>