    <header id="navbar">
        <img id="logo" src="/assets/graphics/hero/pwnsift-logo.svg">
        <ul>
            <li>
                <a href="#">
                    NetHydra
                </a>
            </li>
            <li>
                <a href="/get">
                   Download
                </a>
            </li>
            <li>
                <a href="/blog">
                    Blog
                </a>
            </li>
            <li>
                <a href="/blog/hello-world">
                    About
                </a>
            </li>
        </ul>
    </header>
