<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- css -->
    <link rel="stylesheet" href="/assets/css/_blog/read-blog.css">
    <!-- endOfCss -->

    <!-- remixIcon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- endOfRemixIcon -->

    <!-- js -->
    <script src="/assets/js/navbar.js"></script>
    <!-- endJS -->
</head>
<body>
    {% include navbar.html %}
    <div class="main_content">
        <div class="post">
            <section class="inside-post">
                <div class="post-scope">
                    <div class="scope-main-content">
                        <section class="fill-content">
                            <div class="head">
                                <img src="{{ page.thumbnail }}" alt="NetHydra Banner Release:{{ page.title }}">
                                <div class="post-headline">
                                    <h1>
                                        {{ page.title }}
                                    </h1>
                                    <span>
                                        <i class="ri-alarm-line"></i> {{ page.date | date: "%B %-d, %Y" }}          <i class="ri-user-fill"></i> {{ page.author }}    <i class="ri-folder-2-line"></i>{{ page.categories }}
                                    </span>
                                </div>
                            </div>
                            {{ content }}
                        </section>
                        <section class="right-side-content">
                            <h2>
                                Recent post
                            </h2>
                            <section class="post-in-sidebar">
                                <ul>
                                    {% for post in site.posts limit:5 %}
                                    <li class="card">
                                        <a href="{{ post.url }}">
                                            <img src="{{ post.thumbnail }}">
                                            <section class="post-detail">
                                                <span>
                                                    {{ post.date | "%-d %B %Y" }}
                                                </span>
                                                <h1>
                                                    {{ post.title }}
                                                </h1>
                                            </section>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
